<div>
  <h2 id="page-heading" data-cy="DemandeCongeHeading">
    <span jhiTranslate="staffingApp.demandeConge.home.title">DemandeConges</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="staffingApp.demandeConge.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-demande-conge"
        [routerLink]="['/demande-conge/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="staffingApp.demandeConge.home.createLabel"> Créer un nouveau Demande Conge </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="demandeConges?.length === 0">
    <span jhiTranslate="staffingApp.demandeConge.home.notFound">Aucun Demande Conge trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="demandeConges && demandeConges.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="creationDate">
            <div class="d-flex">
              <span jhiTranslate="staffingApp.demandeConge.creationDate">Creation Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="avisTl">
            <div class="d-flex">
              <span jhiTranslate="staffingApp.demandeConge.avisTl">Avis Tl</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="statusDemande">
            <div class="d-flex">
              <span jhiTranslate="staffingApp.demandeConge.statusDemande">Status Demande</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateDebutConge">
            <div class="d-flex">
              <span jhiTranslate="staffingApp.demandeConge.dateDebutConge">Date Debut Conge</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateFinConge">
            <div class="d-flex">
              <span jhiTranslate="staffingApp.demandeConge.dateFinConge">Date Fin Conge</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nombreJour">
            <div class="d-flex">
              <span jhiTranslate="staffingApp.demandeConge.nombreJour">Nombre Jour</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let demandeConge of demandeConges; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/demande-conge', demandeConge.id, 'view']">{{ demandeConge.id }}</a>
          </td>
          <td>{{ demandeConge.creationDate | formatMediumDatetime }}</td>
          <td>{{ demandeConge.avisTl }}</td>
          <td jhiTranslate="{{ 'staffingApp.StatusDemande.' + demandeConge.statusDemande }}">{{ demandeConge.statusDemande }}</td>
          <td>{{ demandeConge.dateDebutConge | formatMediumDatetime }}</td>
          <td>{{ demandeConge.dateFinConge | formatMediumDatetime }}</td>
          <td>{{ demandeConge.nombreJour }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/demande-conge', demandeConge.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/demande-conge', demandeConge.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(demandeConge)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="demandeConges && demandeConges.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
