<div>
  <h2 id="page-heading" data-cy="UserSopraHeading">
    <span jhiTranslate="staffingApp.userSopra.home.title">UserSopras</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="staffingApp.userSopra.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-user-sopra"
        [routerLink]="['/user-sopra/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="staffingApp.userSopra.home.createLabel"> Créer un nouveau User Sopra </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="userSopras?.length === 0">
    <span jhiTranslate="staffingApp.userSopra.home.notFound">Aucun User Sopra trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="userSopras && userSopras.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nomUser">
            <div class="d-flex">
              <span jhiTranslate="staffingApp.userSopra.nomUser">Nom User</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="prenomUser">
            <div class="d-flex">
              <span jhiTranslate="staffingApp.userSopra.prenomUser">Prenom User</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="emailUser">
            <div class="d-flex">
              <span jhiTranslate="staffingApp.userSopra.emailUser">Email User</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="matriculeUser">
            <div class="d-flex">
              <span jhiTranslate="staffingApp.userSopra.matriculeUser">Matricule User</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="disponibiliteUser">
            <div class="d-flex">
              <span jhiTranslate="staffingApp.userSopra.disponibiliteUser">Disponibilite User</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="image">
            <div class="d-flex">
              <span jhiTranslate="staffingApp.userSopra.image">Image</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="userRolesSopra">
            <div class="d-flex">
              <span jhiTranslate="staffingApp.userSopra.userRolesSopra">User Roles Sopra</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="responsable.id">
            <div class="d-flex">
              <span jhiTranslate="staffingApp.userSopra.responsable">Responsable</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let userSopra of userSopras; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/user-sopra', userSopra.id, 'view']">{{ userSopra.id }}</a>
          </td>
          <td>{{ userSopra.nomUser }}</td>
          <td>{{ userSopra.prenomUser }}</td>
          <td>{{ userSopra.emailUser }}</td>
          <td>{{ userSopra.matriculeUser }}</td>
          <td>{{ userSopra.disponibiliteUser }}</td>
          <td>
            <a *ngIf="userSopra.image" (click)="openFile(userSopra.image, userSopra.imageContentType)">
              <img
                [src]="'data:' + userSopra.imageContentType + ';base64,' + userSopra.image"
                style="max-height: 30px"
                alt="userSopra image"
              />
            </a>
            <span *ngIf="userSopra.image">{{ userSopra.imageContentType }}, {{ byteSize(userSopra.image) }}</span>
          </td>
          <td jhiTranslate="{{ 'staffingApp.UserRolesSopra.' + userSopra.userRolesSopra }}">{{ userSopra.userRolesSopra }}</td>
          <td>
            <div *ngIf="userSopra.responsable">
              <a [routerLink]="['/responsable', userSopra.responsable.id, 'view']">{{ userSopra.responsable.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/user-sopra', userSopra.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/user-sopra', userSopra.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(userSopra)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="userSopras && userSopras.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
